body{
background-image: url("../img/foto1.jpg");
    background-size: cover;/* Ajusta la imagen para cubrir todo el fondo */
    background-position: center;/* Centra la imagen de fondo */
    background-repeat: no-repeat;/* Evita que la imagen se repita */

}
h1{
    background-color: rgb(4, 4, 4);
    color: white;
    text-align: center;
    padding: 10px;
}
h2{
    text-align: center;
    color: rgb(19, 5, 66);
    font-style:italic;
}
#buscar{
    background-color:rgb(238, 242, 244);
    padding-left: 100px;
    padding-right: 100px;
}
#t1{
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#t2{
color: red;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
}
#t3,#t4{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#res{
     background-color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        padding-left: 100px;
        padding-right: 100px; 
        font-size: 18px;
        padding-bottom: 50px;
    }
#b1{
    padding:20px;
    text-align: center;
}
#artista,#cancion{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#mensajes{
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding:5px;
    font-size: 24px;
}